
// basic layout
body{
  font-family:$regular;
  background:$yellow;
}
header{
  text-transform:uppercase;
  width:100%;
  padding:1em;
  text-align:center;
  font-weight:$bold;
  font-style:italic;
  h1{
    font-size:4em;
    color:$white;
    text-shadow:darken($yellow,15%) -.1em .1em;
    @include breakpoint(downTwo){font-size:2em;}
  }
}
.wrapper{
  width:80%;
  max-width:40em;
  margin:0 auto;
  min-height:40em;
  .buttons{
    width:50%;
    float:left;
    padding:1em;
    @include breakpoint(downOne){
      width:100%;
      float:none;
    }
  }
  .jezBox{
    width:50%;
    height:40em;
    float:left;
    @include breakpoint(downOne){
      width:100%;
      float:none;
    }
  }
}

// Buttons
.kickItoff{
  display:block;
  width:100%;
  font-size:2em;
  text-transform:uppercase;
  font-weight:$bold;
  font-style:italic;
  padding:.5em 0;
  border:0;
  border-radius:.5em;
  cursor:pointer;
  text-align:center;
  color:$white;
  background:#555;
  margin:1em 0;
  position:relative;
  box-shadow:
    black 0 .3em 0 0,
    darken($yellow,15%) .1em .4em 0 0,
    darken($yellow,15%) .2em .5em 0 0;
  &:active{
    top:.1em;
    box-shadow:
      black 0 .1em 0 0,
      darken($yellow,15%) .1em .2em 0 0;
  }
}

//
.jez{
  width:20em;
  height:40em;
  margin:0 auto;
  background:red;
  background:url("img/raw/jezAsH.jpg");
  background-size:cover;
  position:relative;
  overflow:hidden;
}
.cock{
  width:8em;
  height:20em;
  //background:pink;
  position:absolute;
  //border-radius:4em 4em 0 0;
  transform:rotate(45deg);
  top:24em;
  left:-4em;
  transition:top, left;
  transition-duration:.3s;
  background:url('img/raw/cock.png');
  background-size:cover;
  &.suck{
    top:16em;
    left:5em;
  }
}
.jezTop{
  background:red;
  background:url("img/raw/jezAsH_top.png");
  background-size:cover;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:200;
}